.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-overlay .modal-container {
  background-color: #ddd;
  margin: auto;
  border: 1px solid #888;
  border-radius: 12px;
  width: 70%;
  overflow: hidden;
}

.modal-overlay .modal-container .modal-header {
  padding: 2px 20px;
  background-color: indigo;
  color: white;
  height: 40px;
  line-height: 35px;
}

.modal-overlay .modal-container .modal-header .modal-close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.modal-overlay .modal-container .modal-header .modal-close:hover, .modal-overlay .modal-container .modal-header .modal-close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}

.modal-overlay .modal-container .modal-body {
  padding: 2px 16px;
  overflow: hidden;
  height: 350px;
  margin: 10px 0;
}

.modal-overlay .modal-container .modal-body .body-content {
  height: 100%;
  overflow: auto;
  border: 1px solid indigo;
  border-radius: 10px;
  background: #fefefe;
  padding: 15px;
  font-size: 14px;
}

.modal-overlay .modal-container .modal-body .body-content label {
  font-weight: bold;
  position: relative;
  display: block;
}

.modal-overlay .modal-container .modal-body .body-content label .mandatory {
  color: red;
}

.modal-overlay .modal-container .modal-body .body-content label .add-phone, .modal-overlay .modal-container .modal-body .body-content label .add-email {
  position: absolute;
  right: 3px;
  top: 2px;
  font-size: 18px;
  color: green;
}

.modal-overlay .modal-container .modal-body .body-content input[type], .modal-overlay .modal-container .modal-body .body-content select {
  width: 100%;
  padding: 10px 15px;
  margin: 6px 0 16px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.modal-overlay .modal-container .modal-body .body-content select {
  width: 95px;
  padding: 10px 8px;
}

.modal-overlay .modal-container .modal-body .body-content input[type=text].code {
  width: 55px;
  padding: 10px;
}

.modal-overlay .modal-container .modal-body .body-content input[type=telephone].phone {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 100px - 60px);
}

.modal-overlay .modal-container .modal-body .body-content .phDtl, .modal-overlay .modal-container .modal-body .body-content .email-item {
  position: relative;
  width: 100%;
}

.modal-overlay .modal-container .modal-body .body-content .phDtl .deletePhone, .modal-overlay .modal-container .modal-body .body-content .phDtl .deleteEmail, .modal-overlay .modal-container .modal-body .body-content .email-item .deletePhone, .modal-overlay .modal-container .modal-body .body-content .email-item .deleteEmail {
  position: absolute;
  right: 4px;
  top: -10px;
  font-size: 16px;
  color: red;
}

.modal-overlay .modal-container .modal-footer {
  padding: 2px 20px;
  color: white;
  height: 40px;
}

.modal-overlay .modal-container .modal-footer .footer-buttons {
  float: right;
}

.modal-overlay .modal-container .modal-footer .footer-buttons .btn {
  border: none;
  outline: none;
  padding: 10px;
  margin: 0px 2px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay .modal-container .modal-footer .footer-buttons .btn.submit-button {
  background-color: indigo;
  color: white;
  border: 1px solid #36015c;
}

.modal-overlay .modal-container .modal-footer .footer-buttons .btn.cancel-button {
  background-color: #bbb;
  color: #333;
  border: 1px solid #777;
}

.modal-overlay .modal-container .modal-footer .footer-buttons .btn:hover {
  text-decoration: underline;
}

@media all and (max-width: 600px) {
  #modal .modal-container {
    width: 85%;
  }
  #modal .modal-container input[type], #modal .modal-container select {
    padding: 7px 5px;
  }
  #modal .modal-container select {
    width: 100%;
    margin: 6px 0 3px 0;
  }
  #modal .modal-container input[type=telephone].phone {
    width: calc(100% - 60px);
  }
}
/*# sourceMappingURL=modal.css.map */