.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    background-color: rgba(0,0,0,0.4);
    .modal-container {
        background-color: #ddd;
        margin: auto;
        border: 1px solid #888;
        border-radius: 12px;
        width: 70%;
        overflow: hidden;
        .modal-header {
            padding: 2px 20px;
            background-color: indigo;
            color: white;
            height: 40px;
            line-height: 35px;
            .modal-close {
                color: white;
                font-size: 28px;
                font-weight: bold;
                float: right;
                &:hover, &:focus {
                    color: #888;
                    text-decoration: none;
                    cursor: pointer;
                }
            } 
        }
        
        .modal-body {
            padding: 2px 16px;    
            overflow: hidden;
            height: 350px;
            margin: 10px 0;
            .body-content {
                height: 100%;
                overflow: auto;
                border: 1px solid indigo;
                border-radius: 10px;
                background: #fefefe;
                padding: 15px;
                font-size: 14px;
                label {
                    font-weight: bold;
                    position: relative;
                    display: block;
                    .mandatory{
                        color: red;
                    }
                    .add-phone, .add-email {
                        position: absolute;
                        right: 3px;
                        top: 2px;
                        font-size: 18px;    
                        color: green;
                    }
                }
                input[type], select{
                    width: 100%;
                    padding: 10px 15px;
                    margin: 6px 0 16px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    border-radius: 5px;
                }
                select {
                    width: 95px;
                    padding: 10px 8px;
                }
                input[type=text].code {
                    width: 55px;
                    padding: 10px;
                }
                input[type=telephone].phone {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    width: calc(100% - 100px - 60px);
                }
                .phDtl, .email-item {
                    position: relative;
                    width: 100%;
                    .deletePhone, .deleteEmail {
                        position:absolute;
                        right: 4px;
                        top: -10px;
                        font-size: 16px;    
                        color: red;
                    }
                }
            }
        }
        
        .modal-footer {
            padding: 2px 20px;
            color: white;
            height: 40px;
            .footer-buttons {
                float: right;
                .btn {
                    border: none;
                    outline: none;
                    padding: 10px;
                    margin: 0px 2px 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    &.submit-button {
                        background-color: indigo;
                        color: white;
                        border: 1px solid rgb(54, 1, 92);
                    }
                    &.cancel-button {
                        background-color: #bbb;
                        color: #333;
                        border: 1px solid #777;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
                
            }
        }
    }  
}

@media all and (max-width: 600px){
    #modal .modal-container {
        width: 85%;
        input[type], select{
            padding: 7px 5px;
        }
        select {
            width: 100%;
            margin: 6px 0 3px 0;
        }
        input[type=telephone].phone {
            width: calc(100% - 60px);
        }
    }
}