
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  height: 50px;
  background: indigo;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 15px;
  #addContact {
    position: absolute;
    right: 25px;
    cursor: pointer;
  }
}

.content {
  padding: 5px 15px;
  overflow:hidden;
  height:100%; 
  .search-div {
    .search-bar {
      padding: 10px 15px;
      margin: 6px 0 16px 0;
      display: inline-block;
      border: 1px solid #888;
      box-sizing: border-box;
      border-radius: 5px;
      width: calc(100% - 85px);
    }
    .sort-container {
      position: relative;
      display: inline-block;
      .sort-button {
        border: none;
        outline: none;
        padding: 10px;
        background-color:indigo;
        margin: 10px 2px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top: 45px;
        right:5px;
        font-size: 13px;
        z-index: 5;
        & a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &.active {
            background-color: #888;
            color: #f5f5f5;
          }
          &:hover:not(.active) {
            background-color: #ccc;
          }
          &:not(:last-child) {
            border-bottom: 1px solid indigo;
          }
        }
      } 
      &:hover .dropdown-content {
        display: block;
      }
    }
  }
  .view-contacts-buttons{
    text-align: right;
    position: relative;
    height: 50px;
    .total-contacts {
      position: absolute;
      top: 25px;
    }
    .view-buttons {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      margin: 10px 2px;
      border: 1px solid #aaa;
      border-radius: 5px;;
      cursor: pointer;
      &.active {
        background-color: #888;
        border: 1px solid #444;
        color: white;
      }
      &:hover:not(.active) {
        background-color: #ccc;
      }
    }
  }
  .contact-list{
    list-style: none;
    overflow: hidden auto;
    display:flex;
    height: calc(100vh - 150px - 20px);
    border-top: 10px solid white;
    padding: 0 10px;
    .items {
      padding: 10px;
      background: #f5f5f5;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      font-size: 14px;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      div {
        line-height:25px;
        .label{
          font-weight: bold;
          margin-right: 12px;
          float:left;
        }
        .data {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          i {
            margin:0 5px;
            cursor: pointer;
          }
          .lightText {
            color: #666;
            font-style: italic;
            font-size: 12px;
          }
        }
        &.action {
          float: right;
        } 
      } 
    }
    &.list{
      flex-direction: column;
      .items{
        margin: 10px 0;
      }
    }
    &.tile {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      .items { 
        box-sizing: border-box;
        margin: 10px 5px;
        width: calc(100% * (1/3) - 10px);
        height: fit-content;
      }
    }
  }
}

.hide {
  display: none;
}


@media all and (max-width: 600px){
  .content .contact-list{
    &.tile .items { 
      width: calc(100% * (1/2) - 10px);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #888;
    &:hover {
      background-color: #555;
    }
}