* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.header {
  height: 50px;
  background: indigo;
  color: white;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  padding: 15px;
}

.header #addContact {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.content {
  padding: 5px 15px;
  overflow: hidden;
  height: 100%;
}

.content .search-div .search-bar {
  padding: 10px 15px;
  margin: 6px 0 16px 0;
  display: inline-block;
  border: 1px solid #888;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: calc(100% - 85px);
}

.content .search-div .sort-container {
  position: relative;
  display: inline-block;
}

.content .search-div .sort-container .sort-button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: indigo;
  margin: 10px 2px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.content .search-div .sort-container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 45px;
  right: 5px;
  font-size: 13px;
  z-index: 5;
}

.content .search-div .sort-container .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content .search-div .sort-container .dropdown-content a.active {
  background-color: #888;
  color: #f5f5f5;
}

.content .search-div .sort-container .dropdown-content a:hover:not(.active) {
  background-color: #ccc;
}

.content .search-div .sort-container .dropdown-content a:not(:last-child) {
  border-bottom: 1px solid indigo;
}

.content .search-div .sort-container:hover .dropdown-content {
  display: block;
}

.content .view-contacts-buttons {
  text-align: right;
  position: relative;
  height: 50px;
}

.content .view-contacts-buttons .total-contacts {
  position: absolute;
  top: 25px;
}

.content .view-contacts-buttons .view-buttons {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  margin: 10px 2px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.content .view-contacts-buttons .view-buttons.active {
  background-color: #888;
  border: 1px solid #444;
  color: white;
}

.content .view-contacts-buttons .view-buttons:hover:not(.active) {
  background-color: #ccc;
}

.content .contact-list {
  list-style: none;
  overflow: hidden auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 150px - 20px);
  border-top: 10px solid white;
  padding: 0 10px;
}

.content .contact-list .items {
  padding: 10px;
  background: #f5f5f5;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  font-size: 14px;
}

.content .contact-list .items:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content .contact-list .items div {
  line-height: 25px;
}

.content .contact-list .items div .label {
  font-weight: bold;
  margin-right: 12px;
  float: left;
}

.content .contact-list .items div .data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .contact-list .items div .data i {
  margin: 0 5px;
  cursor: pointer;
}

.content .contact-list .items div .data .lightText {
  color: #666;
  font-style: italic;
  font-size: 12px;
}

.content .contact-list .items div.action {
  float: right;
}

.content .contact-list.list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .contact-list.list .items {
  margin: 10px 0;
}

.content .contact-list.tile {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content .contact-list.tile .items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 5px;
  width: calc(100% * (1/3) - 10px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hide {
  display: none;
}

@media all and (max-width: 600px) {
  .content .contact-list.tile .items {
    width: calc(100% * (1/2) - 10px);
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/*# sourceMappingURL=styles.css.map */