<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  
</head>

<body>

  <div class="header">
    <span>My Contacts</span>
    <div id="addContact"><i class="fa fa-user-plus"></i></div>
  </div>

  <div class="content">
    <!-- <div class="contacts" id="contacts"> -->
      <div class="search-div">
        <input class="search-bar" id="search" type="text" placeholder="Search By Name..." name="search">
        <div class="sort-container">
          <button class="sort-button"><i class="fa fa-sort"></i> Sort By</button> 
          <div class="dropdown-content" id="sortMenu">
            <a href="#" class="sortBy" data-sortBy="fn-asc"><i class="fa fa-sort-alpha-asc"></i> &nbsp;&nbsp;First Name (A to Z)</a>
            <a href="#" class="sortBy" data-sortBy="fn-desc"><i class="fa fa-sort-alpha-desc"></i> &nbsp;&nbsp;First Name (Z to A)</a>
            <a href="#" class="sortBy" data-sortBy="ln-asc"><i class="fa fa-sort-alpha-asc"></i> &nbsp;&nbsp;Last Name (A to Z)</a>
            <a href="#" class="sortBy" data-sortBy="ln-desc"><i class="fa fa-sort-alpha-desc"></i> &nbsp;&nbsp;Last Name (Z to A)</a>
            <a href="#" class="sortBy" data-sortBy="dob-asc"><i class="fa fa-sort-numeric-asc"></i> &nbsp;&nbsp;D.O.B (Youngest first)</a>
            <a href="#" class="sortBy" data-sortBy="dob-desc"><i class="fa fa-sort-numeric-desc"></i> &nbsp;&nbsp;D.O.B (Eldest first)</a>
          </div>
        </div>
      </div>
      <div class="view-contacts-buttons">
        <h4 class="total-contacts">Contacts: <span class="count"></span></h4>
        <button class="view-buttons list active"><i class="fa fa-bars"></i> List</button> 
        <button class="view-buttons tile"><i class="fa fa-th-large"></i> Tile</button>
      </div>

      <ul class="contact-list list" id="contact-list"></ul>
      
    <!-- </div> -->
  </div>

  <!-- Modal popup for add, edit, view contact -->
  <div id="modal" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <span class="modal-close">&times;</span>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form class="body-content" id="modal-form" name="form">
          <label for="fname">First Name <span class="mandatory">*</span></label>
          <input type="text" placeholder="Enter First Name" name="fname" maxlength="25" required>

          <label for="lname">Last Name <span class="mandatory">*</span></label>
          <input type="text" placeholder="Enter Last Name" name="lname" maxlength="25" required>

          <label for="phone" class="phone-label">Contact 
            <span class="mandatory">*</span> 
            <div class="add-phone"><i class="fa fa-plus-square"></i></div>
          </label>
          <div class="phoneDetails">
            <div class="phDtl">
              <select name="type" class="type" required>
                <option value="" disabled selected hidden> -- Type -- </option>
                <option value="home">Home</option>
                <option value="office">Office</option>
                <option value="personal">Personal</option>
              </select>
              <input class="code" placeholder="Code" name="code" type="text"  maxlength="3" required>
              <input class="phone" placeholder="Enter Phone Number" type="telephone" name="phone" minlength="10" maxlength="10" required>
            </div>
          </div>

          <label for="date">D.O.B.</label>
          <input type="text" class="datepicker" placeholder="Select Date" name="date">

          <label for="email">Email <div class="add-email"><i class="fa fa-plus-square"></i></div></label>
          <div class="emailList">
            <div class="email-item">
              <input class="email-field" type="email" placeholder="Enter Email" name="email" maxlength="30">
            </div>
          </div>
          <input type="hidden" name="id">
        </form>
      </div>
      <div class="modal-footer">
        <div class="footer-buttons">
          <button class="btn cancel-button" value="Cancel">Cancel</button>
          <button class="btn submit-button" type="submit" form="modal-form" value="Submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
</body>

</html>